<form [formGroup]="deviceForm">
  <div class="form-group">
    <label for="deviceIdentificationInput">Device Identification:</label>
      <input id="deviceIdentificationInput" class="form-control" type="text" formControlName="deviceIdentification">
  </div>

  <div class="form-group">
    <label for="aliasInput">Alias:</label>
    <input id="aliasInput" class="form-control" type="text" formControlName="alias">
  </div>

  <div class="form-group" formGroupName="containerAddress">
    <h3>Address</h3>
    <div class="row">
      <div class="col">
        <label for="municipalityInput">Municipality:</label>
        <input id="municipalityInput" class="form-control" type="text" formControlName="municipality">
      </div>
      <div class="col">
        <label for="cityInput">City:</label>
        <input id="cityInput" class="form-control" type="text" formControlName="city">
      </div>
      <div class="col">
        <label for="streetInput">Street:</label>
        <input id="streetInput" class="form-control" type="text" formControlName="street">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="postalCodeInput">Postal Code:</label>
        <input id="postalCodeInput" class="form-control" type="text" formControlName="postalCode">
      </div>
      <div class="col">
        <label for="numberInput">Number:</label>
        <input id="numberInput" class="form-control" type="text" formControlName="number">
      </div>
      <div class="col">
        <label for="numberAddition">Number Addition:</label>
        <input id="numberAddition" class="form-control" type="text" formControlName="numberAddition">
      </div>
    </div>
  </div>
  <div class="form-group" formGroupName="gpsCoordinates">
    <h3>GPS Coordinates</h3>
    <div class="row">
      <div class="col">
        <label for="latitudeInput">Latitude:</label>
        <input id="latitudeInput" class="form-control" type="number" formControlName="latitude">
      </div>
      <div class="col">
        <label for="longitudeInput">Longitude:</label>
        <input id="longitudeInput" class="form-control" type="number" formControlName="longitude">
      </div>
    </div>
  </div>
  <div class="form-group" formGroupName="cdmaSettings">
    <h3>CDMA-Settings</h3>
    <div class="row">
      <div class="col">
        <label for="mastSegmentInput">Mast Segment:</label>
        <input id="mastSegmentInput" class="form-control" type="text" formControlName="mastSegment">
      </div>
      <div class="col">
        <label for="batchNumberInput">Batch Number:</label>
        <input id="batchNumberInput" class="form-control" type="number" formControlName="batchNumber">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="deviceTypeInput">Device Type:</label>
    <input id="deviceTypeInput" class="form-control" type="text" formControlName="deviceType">
  </div>

  <div class="form-group">
    <label for="networkAddressInput">Network Address:</label>
    <input id="networkAddressInput" class="form-control" type="text" formControlName="networkAddress">
  </div>

  <div class="form-check">
    <label for="activatedInput" class="form-check-label">Activated</label>
    <input id="activatedInput" class="form-check-input" type="checkbox" formControlName="isActivated">
  </div>

  <div class="form-group">
    <label>
      Authorizations (TODO)
    </label>
  </div>

  <div class="form-group">
    <label for="protocolInfoInput">Protocol Info:</label>
    <select id="protocolInfoInput" class="form-control" formControlName="protocolInfo">
      <option value="" disabled>Protocol Info...</option>
    </select>
  </div>

  <div class="form-check">
    <label for="maintenanceInput" class="form-check-label">Maintenance</label>
    <input id="maintenanceInput" class="form-check-input" type="checkbox" formControlName="inMaintenance">
  </div>

  <div class="form-group">
    <label for="gatewayDeviceInput">Gateway Device:</label>
    <select id="gatewayDeviceInput" class="form-control" formControlName="gatewayDevice">
      <option value="" disabled>Gateway Device...</option>
    </select>
  </div>

  <div class="form-group">
    <label for="organisationsInput">Organisations:</label>
    <select id="organisationsInput" class="form-control" multiple formControlName="organisations">
      <option value="" disabled>Organisation...</option>
    </select>
  </div>

  <div class="form-group">
    <label for="deviceModelInput">Device Model:</label>
    <select id="deviceModelInput" class="form-control" formControlName="deviceModel">
      <option value="" disabled>Model...</option>
    </select>
  </div>

  <div class="form-group">
    <label for="deviceLifecycleStatusInput">Device Lifecycle Status:</label>
    <select id="deviceLifecycleStatusInput" class="form-control" formControlName="deviceLifecycleStatus">
      <option value="" disabled>Lifecycle Status...</option>
      <option *ngFor="let lifecycleStatus of deviceLifecycleStatuses"
              value="{{lifecycleStatus}}">{{lifecycleStatus}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="lastSuccessfulConnectionTimestampInput">Last Successful Connection
      Timestamp:</label>
    <input id="lastSuccessfulConnectionTimestampInput" class="form-control" type="date"
           formControlName="lastSuccessfulConnectionTimestamp">
  </div>

  <div class="form-group">
    <label for="lastFailedConnectionTimestampInput">Last Failed Connection
      Timestamp:</label>
    <input id="lastFailedConnectionTimestampInput" class="form-control" type="date"
           formControlName="lastSuccessfulConnectionTimestamp">
  </div>

  <div class="form-group">
    <label for="failedConnectionCount">Failed Connection Count:</label>
    <input id="failedConnectionCount" class="form-control" type="number" formControlName="failedConnectionCount">
  </div>

  <div class="form-group">
    <label for="integrationTypeInput">Integration Type:</label>
    <select id="integrationTypeInput" class="form-control" formControlName="integrationType">
      <option value="" disabled>Integration Type...</option>
      <option *ngFor="let integrationType of integrationTypes" value="{{integrationType}}">{{integrationType}}</option>
    </select>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="!deviceForm.valid">Save</button>
</form>
